{% extends "core/base.html" %}

{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}Reporte{% endblock %}

{% block content %}
    <style>
        .errorlist{color:red;}
        .table caption {
            border: inherit; 
            background-color: #343A40;
            caption-side: top;
            text-align:center;
            color:white;
            font-weight:bold;
        }
    </style>
    <main id="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12 mx-auto mb-5">
                    <div class="section-title">
                        <h2>{{student.name}}  {{student.last_name}}</h2>
                    </div>
                    <div class="container-fluid">
                        <div class="position-relative mt-2 mb-2">
                            <p style="border: 5px solid #00A9FE; padding:2%; border-radius:5px;">
                                <b style="color:#00A9FE; margin-left:5%;">Sede:</b>  {{student.campus}}
                                <b style="color:#00A9FE; margin-left:5%;"> Jornada:</b> {{student.worktime}}
                                <b style="color:#00A9FE; margin-left:5%;"> Curso:</b> {{student.section}}
                                <b style="color:#00A9FE; margin-left:5%;"> Grupo:</b> 
                                {% if student.group %}
                                    {{student.group}}
                                {% else  %}
                                    No asignado
                                {% endif %}
                            </p>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="position-relative mt-2 mb-2" style="border:  5px solid #C5BEE8; padding:2%; border-radius:5px;">
                                <p style="color:black"><b  class="mb-3">Seleccionar Período</b></p> 
                                <label for="start">Desde:</label>
                                <input type="date" id="start" name="fromdate"
                                    {% if start_date %}
                                        value="{{ start_date }}"
                                    {% else %}
                                        value="2021-01-01"
                                    {% endif %}
                                    min="2021-01-01" />
                                <label for="finish">Hasta:</label>
                                <input type="date" id="finish" name="todate"
                                    {% if finish_date %}
                                        value="{{ finish_date }}"
                                    {% endif %}
                                    />
                                <button type="submit" class="btn btn-info ml-2" id="filter">Filtrar</button>
                            </div>
                        </form>
                        <div class="position-relative mt-2 mb-2">
                            <table class="table table-borderless table-striped" id="student_table">
                            <caption>REPORTE ESTUDIANTE</caption>
                                <tbody>
                                    <tr>
                                        <td style="color:#00A9FE;"><b>Conductas</b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                                {% if conduct_list %}
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Fecha</th>
                                                            <th scope="col">Conducta</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for conduct in conduct_list %}
                                                            <tr>
                                                                <th scope="row">{{conduct.created | date:'Y-m-d H:i'}}</th>
                                                                <td>{{conduct.conduct}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                        
                                                {% else %}
                                                    <p style="color:gray; margin-left:5%;">No hay registros para el estudiante</p>
                                                {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="color:#00A9FE;"><b>Puntajes Diarios</b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                                {% if daily_score_list %}
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Fecha</th>
                                                            <th scope="col">Puntaje</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for daily_score in daily_score_list %}
                                                            <tr>
                                                                <th scope="row">{{daily_score.updated | date:'Y-m-d'}}</th>
                                                                <td>{{daily_score.daily_score}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% else %}
                                                    <p style="color:gray; margin-left:5%;">No hay registros para el estudiante</p>
                                                {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="color:#00A9FE;"><b>Puntajes Semanales</b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                                {% if weekly_score_list %}
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Fecha</th>
                                                            <th scope="col">Puntaje</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for weekly_score in weekly_score_list %}
                                                            <tr>
                                                                <th scope="row">{{weekly_score.updated | date:'Y-m-d'}}</th>
                                                                <td>{{weekly_score.weekly_score}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% else %}
                                                    <p style="color:gray; margin-left:5%;">No hay registros para el estudiante</p>
                                                {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if conduct_list or daily_score_list or weekly_score_list %}
                        <div class="text-center"><a href="{% url 'report' student.id %}" id="download" class="btn btn-success">Descargar Reporte .xls</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script>
        var start = document.getElementById("start");
        var finish = document.getElementById("finish");
        var download = document.getElementById("download")

        {% if start_date or finish_date%}
            download.href = download.href + '?start_date=' + start.value + '&finish_date=' + finish.value  
        {% endif %}

        // console.log(download.href)

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();

        if (dd < 10){
            dd = '0' + dd;
        }
        if (mm < 10){
            mm = '0' + mm;
        }
        today = yyyy + '-' + mm + '-' + dd;

        start.max = today;
        if (finish.value.length == 0)
            finish.value = today;
        finish.max = today;
    </script>
{% endblock %}